:host {
  --scan-line-color: red;
  --scan-line-stroke-width:2;
  --scan-rect-color:green;
  --scan-rect-stroke-width:2;
  --mask-color: rgba(0,0,0,0.7);
}

.mask-rect {
  fill:var(--mask-color);
  stroke-width:0;
}

svg {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.scan-line {
  stroke:var(--scan-line-color);
  stroke-width:var(--scan-line-stroke-width);
}

.scan-rect {
  stroke:var(--scan-rect-color);
  stroke-width:var(--scan-rect-stroke-width);
  fill-opacity:0.0;
}